html, body * {
  margin: 0;
  padding: 0;
  background-color: rgb(51, 51, 51);
  color: white;
}

canvas {
  display: block;
}

header {
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 0;
}

table {
	padding-left: 16px;
	padding-right: 16px;
	border-collapse: collapse;
	border: 1px solid black;
}

td {
	border-right: 1px solid black;
	padding: 16px;
	background: rgb(75, 75, 75);
}

#selected { 
	background: rgb(85, 85, 85);
}

a {
	text-decoration: none;
	color: white;
}

iframe {
	border: 1px solid white;
	margin: 0 auto;
}

